body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
    background-color: rgb(255, 255, 255);
    opacity:0;
}

#startButton{
    padding:80px 50px;
    border-radius:50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-size:75px;
    color:#000;
    background-color: rgb(240, 240, 240);
}

#startButton:active{

   box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px, rgba(0, 0, 0, 0.3) 0px 3px 8px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  
}

#startButton:hover{
    cursor:pointer;
}


#rankDisplay{
    font-size:18px;
    opacity:0.6;
    position:absolute;
    bottom:15%;
}


#wordDisplayContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#audioIcon {
    color:#0096FF;
    margin-top:20px;
    font-size: 48px;
    cursor: pointer;
    margin-bottom: 20px;
    outline: none;

    border-radius:50%;
    padding:0px 20px;
    padding-bottom:15px;
    width:35px;
    position:absolute;
    right:-100px;
    top:50%;
    transform:translateY(-50px);
}

#exampleAudioIcon {
    color:#0096FF;
    margin-top:20px;
    font-size: 48px;
    cursor: pointer;
    margin-bottom: 20px;
    outline: none;

    border-radius:50%;
    padding:0px 20px;
    padding-bottom:15px;
    width:35px;
    position:absolute;
    right:-100px;
    top:50%;
    transform:translateY(-50px);
}





#wordDisplay {
    font-size: 128px;
    cursor: auto;
    width:max-content;
    text-align:Center;
    position:relative;
}



#translation {
    font-size: 40px;
    margin-top: 20px;
    opacity: 0;
    visibility: hidden; /* Initially hide the translation */
    height:50px;
    margin:40px;
}


#exampleSentences {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 30px;
    width: max-content;
    min-width:350px;
    opacity: 0;
    border:1px solid black;
    border-radius:5px;
    padding:10px 15px;
    background-color:#f0f0f0;
    cursor:pointer;
    padding:25px;

}


#sliderContainer {
    display: flex;
    position: absolute;
    bottom:10%;
    align-items: center;
    justify-content: bottom;
    margin-top: 20px;
    margin-left:50px;
    margin-right:50px;
}

#wordRange {
    width: 250px;
    margin-right: 10px;
}

#sliderValue {
    font-size: 24px;
}

#sliderLabel {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width:max-content;
    font-size: 18px;
}

#exampleSentencesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}



#audioIcon{
    
}

#audioIcon:hover{

}


#audioExampleIcon{
    display: block;
}

#wordAudio{
    display:none;
}

#exampleAudio{
    display:none;
}

#exampleAudioIconSymbol{
    position:absolute;
    bottom:2px;
    right:4px;
    opacity:0.3;
    transform:scale(0.7);
    z-index:100;
    color:#000;
}

.select-container {
    position:absolute;
    bottom:27%;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    font-size:25px;
}

#language-select {
    font-size:22px;
    padding:5px;
    border: none;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border:1px solid #000;
    background-color:#fff;
}


.flag-icons {
    display: flex;
    align-items: center;
}

.flag-icon {
    width: 30px; /* Adjust the width of the flag icons */
    height: auto;
    margin-left: 10px; /* Adjust the spacing between the select and flags */
}


*:active, *:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;         /* Chrome and Opera */
}



.reset-button{
    position:absolute;
    bottom:5%;
    left:50%;
    transform:translateX(-50%);
    display:none;
    font-size:25px;
}

.reset-button a{
    opacity:0.7;
    color:black;

}


@media only screen and (max-width: 798px) {


    .select-container {
        position:absolute;
        bottom:30%;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
        font-size:16px;
    }
    
    #language-select {
        font-size:16px;
        padding:5px;
        border: none;
        border-radius: 5px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border:1px solid #000;
        background-color:#fff;
    }

    .reset-button{
        position:absolute;
        bottom:5%;
        left:50%;
        transform:translateX(-50%);
        display:none;
        font-size:16px;
    }


    #startButton{
        padding:65px 50px;
        border-radius:50%;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        font-size:40px;
    }


    #wordDisplay {
        font-size: 40px;
        cursor: pointer;
        transform:translateY(-80px);
    }

    #rankDisplay{

        font-size:17px;
        opacity:0.6;
    }

    #sliderContainer {
        margin-left:80px;
        margin-right:80px;
    }

    #sliderLabel {
        font-size:16px;
    }

    #translation {
        font-size: 25px;
        margin-top: 0px;
        transform:translateY(30px);
    }

    #exampleSentences {
        top:15px;
        text-align: center;
        font-size: 24px;
        max-width:80%;
        min-width:80%;
    }
    #audioIcon {
        color:#0096FF;
        margin-top:20px;
        font-size: 53px;
        cursor: pointer;
        margin-bottom: 20px;
        outline: none;
        border-radius:50%;
        padding:0px 20px;
        padding-bottom:15px;
        width:35px;
        position:absolute;
        right:-70px;
        top:50%;
        transform:translateY(-55px);
    }


    #exampleAudioIconSymbol{
        position:absolute;
        bottom:0px;
        right:0px;
        opacity:0.3;
        transform:scale(0.5);
        z-index:100;
        color:#000;
    }

}


